.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#operator {
    padding: 4px 8px;
    font-size: 20px;
}

.value-textbox {
    width: 400px;
    height: 32px;
    padding: 4px 8px;
    font-size: 24px;
    text-align: center;
}

.btn {
    padding: 4px 8px;
    font-size: 20px;
}
