body {
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:
        "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#add-todo {
    padding: 8px 24px;
    margin: 20px;
    font-size: 18px;
}

#ft_list {
    background-color: rgb(225, 209, 225);
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 8px;
}

.todo {
    font-size: 18px;
    background-color: rgb(254, 222, 227);
    padding: 12px 48px;
    text-align: center;
    border: 1px solid black;
    overflow-wrap: break-word;
    word-break: break-all;
}
