body {
    margin: 0;
}

table {
    width: 100%;
    height: 100vh;
    border-collapse: collapse;
}

td {
    width: 50%;
    border: 1px solid black;
}

#first-cell {
    background-color: lightblue;
}

#second-cell {
    background-color: lightgreen;
}
